In [1]:
print("Hello World")

Hello World

In [2]:
mystring = "Hello World"

In [3]:
print(mystring)

Hello World

In [4]:
type(mystring)

str

In [5]:
mystring[0]

'H'

In [6]:
mystring[1:]

'ello World'

In [7]:
# grab everything up to the third index
mystring[:3]

'Hel'

In [8]:
#grab everything
mystring[:]

'Hello World'

In [9]:
#grab everything but the last letter. indexes in reverse / negative
mystring[:-1]

'Hello Worl'

In [10]:
#reverse it
mystring[::-1]

'dlroW olleH'

In [11]:
mystring * 3

'Hello WorldHello WorldHello World'

In [12]:
mystring.upper()

'HELLO WORLD'

In [13]:
mystring.split()

['Hello', 'World']

In [14]:
x = 100

In [15]:
id(x)

4545984512

In [16]:
hex(id(x))

'0x10ef63800'

In [17]:
x = 101

In [18]:
hex(id(x))

'0x10ef63820'

In [19]:
l = [1,2,3]

In [20]:
type(l)

list

In [21]:
my_list = ['one', 'two', 'three', 4, 5]

In [22]:
my_list[0]

'one'

In [23]:
#grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [24]:
#grab everything up to index 3
my_list[:3]

['one', 'two', 'three']

In [25]:
my_list + ["New Item"]

['one', 'two', 'three', 4, 5, 'New Item']

In [26]:
my_list

['one', 'two', 'three', 4, 5]

In [27]:
my_list = my_list + [“new item”]

SyntaxError: invalid character in identifier (<ipython-input-27-34f51fbf5c30>, line 1)

In [28]:
my_list = my_list + ["New Item"]

In [29]:
my_list

['one', 'two', 'three', 4, 5, 'New Item']

In [30]:
my_list.append("Hi")

In [31]:
my_list

['one', 'two', 'three', 4, 5, 'New Item', 'Hi']

In [32]:
my_list.pop(0)

'one'

In [33]:
my_list.reverse()

In [34]:
my_list

['Hi', 'New Item', 5, 4, 'three', 'two']

In [35]:
list_1 = [1,2,3[4,4,6]]

TypeError: 'int' object is not subscriptable

In [36]:
list_1 = [1, 2, 3, [4]]

In [37]:
list_1

[1, 2, 3, [4]]

In [38]:
#Tuples
t = (1,2,3)

In [39]:
type(t)

tuple

In [40]:
len(t)

3

In [41]:
t.count(5)

0

In [42]:
#dictionary

In [43]:
my_dict = {
    'key1': 'value1',
    'key2': 'value2'
}

In [44]:
type(my_dict)

dict

In [45]:
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': ['item0', 'item1','item2']'
}

SyntaxError: EOL while scanning string literal (<ipython-input-45-aa63371a72e7>, line 4)

In [47]:
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': ['item0', 'item1', 'item2']
}

In [48]:
my_dict[key3]

NameError: name 'key3' is not defined

In [49]:
my_dict['key3']

['item0', 'item1', 'item2']

In [50]:
my_dict['key3'][0].upper()

'ITEM0'

In [51]:
my_dict['key4'] = 123

In [52]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': ['item0', 'item1', 'item2'],
 'key4': 123}

In [53]:
# a few methods in dictionary object

In [54]:
d = {
    'key1' : 1,
    'key2' : 2,
    'key3' : 3
}

In [55]:
d.keys

In [56]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [57]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [58]:
# if else and elif

In [59]:
if True: 
    print("it is true")

it is true

In [60]:
x = False
if x: print ('x is true')
else: print ('x is not true')

x is not true

In [61]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the auto shop')
elif loc == 'Bank':
    print('Welcome to the bank')
else:
    print('Where are you')

Welcome to the bank

In [62]:
2 == 2

True

In [63]:
1 == 0

False

In [64]:
2 != 1

True

In [65]:
2 >= 2

True

In [66]:
a = True
b = False

In [67]:
print(' a and b', a and b)

 a and b False

In [68]:
print('a or b', a or b)

a or b True

In [69]:
print('not a', not a)

not a False

In [70]:
# Membership operators

In [71]:
list1 = [1, 2, 3, 4, 5, 6, 7]

In [72]:
3 in list1

True

In [73]:
'Hi' in list1

False

In [74]:
lst = [1,2,3,4,5,6,7,8,9]

In [75]:
for num in lst:
    print(num)

1
2
3
4
5
6
7
8
9

In [76]:
for num in lst:
    print(type(num), ' ', num)

<class 'int'>   1
<class 'int'>   2
<class 'int'>   3
<class 'int'>   4
<class 'int'>   5
<class 'int'>   6
<class 'int'>   7
<class 'int'>   8
<class 'int'>   9

In [77]:
for letter in 'This string':
    print(letter)

T
h
i
s

s
t
r
i
n
g

In [78]:
t = (1, 2, 3)

In [79]:
for x in t:
    print(t)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [80]:
d = {
    'k1': 1,
    'k2': 2
}

In [81]:
for item in d:
    print(item)

k1
1
2
k2

In [82]:
for key, value in d.items():
    print(key, value)

AttributeError: 'set' object has no attribute 'items'

In [83]:
d = {
    'k1': 1,
    'k2': 2
}

In [84]:
for item in d:
    print(item)

k1
k2

In [85]:
# Range method

In [86]:
range(0, 10)

range(0, 10)

In [87]:
start = 0
stop = 5

In [88]:
range(start, stop)

range(0, 5)

In [89]:
my_list = [1,2,3,4,5,6]

In [90]:
len(my_list)

6

In [91]:
for i in range(len(my_list)):
    print(my_list[i])

1
2
3
4
5
6

In [92]:
for i in my_list:
    print(i)

1
2
3
4
5
6

In [93]:
for i in range(len(my_list)):
    print(type(i), my_list[i])

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6

In [94]:
#this will break your code because behavior changes depending on what type of data is inside your list
for i in range(len(my_list)):
    print(type(i), i)

<class 'int'> 0
<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5

In [95]:
my_list = [1,2,3,4,5,6, "Hi", 2.2]

In [96]:
for number, itemin enumerate(my_list):
    print(number, '', item)

SyntaxError: invalid syntax (<ipython-input-96-eda2787c62fc>, line 1)

In [97]:
for number, itemin enumerate(my_list):
    print(number, ' ', item)

SyntaxError: invalid syntax (<ipython-input-97-fad46aaebde8>, line 1)

In [98]:
for number, item in enumerate(my_list):
    print(number, ' ', item)

0   1
1   2
2   3
3   4
4   5
5   6
6   Hi
7   2.2

In [99]:
l = [1, 2, 3, 4]

In [100]:
len(l)

4

In [101]:
range(len(l))

range(0, 4)

In [102]:
# WHILE LOOP

In [103]:
x = 0
while x < 10:
    print('x is ', x)
    x += 1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7
x is  8
x is  9

In [104]:
def foo():
    pass

In [105]:
def foo():
    print("this is a function")

In [106]:
foo()

this is a function

In [107]:
x = foo()

this is a function

In [108]:
x

In [109]:
# Function arguments

In [110]:
def my_func(a, b, c):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [111]:
my_func(10, 20, 30)

a=10, b=20, c=30

In [112]:
# default values

In [113]:
def my_func(a, b = 2, c =3):
    print("a={0}, b={1}, c={3}".format(a, b, c))

In [114]:
my_func(10)

IndexError: tuple index out of range

In [115]:
def my_func(a, b = 2, c =3):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [116]:
my_func(10)

a=10, b=2, c=3

In [117]:
my_func(10, 20, 30)

a=10, b=20, c=30

In [118]:
#keyword arguments

In [119]:
def greet(name, msg):
    """
    This function greets to the person with the provided message.
    """
    print("Hello", name + ', ' + msg)

In [120]:
# 2 keyword arguments (out of order)

In [121]:
greet( msg = 'good morning', name = 'suresh')

Hello suresh, good morning

In [122]:
#1 positional argument, and 1 keyword argument

In [123]:
greet("Bruce", msg = "How you doing?")

Hello Bruce, How you doing?

In [124]:
# keyword argument is when you're naming it before you pass it in like msg above

In [125]:
greet(name="Bruce", "How are you doing today")

SyntaxError: positional argument follows keyword argument (<ipython-input-125-149edfdb4798>, line 1)

In [126]:
def add(a, b):
    print(a+b)

In [127]:
add (10, 20)

30

In [128]:
def foo(*args):
    print(args)

In [129]:
foo(1,2,3,4,5,6,7,"Hi Hello", 1.1)

(1, 2, 3, 4, 5, 6, 7, 'Hi Hello', 1.1)

In [130]:
def foo(required_1, required_2, *args):
    print(required_1)
    print(required_2)
    print(args)

In [131]:
foor(10, 20)

NameError: name 'foor' is not defined

In [132]:
foo(10, 20)

10
20
()

In [133]:
foo(10, 20, 300, 900, 1000, "Hi", "Hello", 1.1)

10
20
(300, 900, 1000, 'Hi', 'Hello', 1.1)

In [134]:
# 10 is spot 1, 20 is spot 2, and the rest of the arguments go into the tuple

In [135]:
def product(*numbers, initial=1):
    total = initial
    for n in numbers:
        total *= n
    return total

In [136]:
product(10, 10)

100

In [137]:
test

NameError: name 'test' is not defined

In [140]:
product(4, 4, initial = 1)

16

In [139]:
product(4, 4, initial = 1)

16

In [141]:
# keyword arguments

In [142]:
def foo(required, *args, **kwargs):
    print(required)
    if args:
        print(args)
    if kwargs:
        print(kwargs)

In [143]:
foo(100, 200, 300, 400, name="Suresh", age="32")

100
(200, 300, 400)
{'name': 'Suresh', 'age': '32'}

In [144]:
def foo(required, *args, **kwargs):
    print(required, type(required))
    if args:
        print(args, type(args))
    if kwargs:
        print(kwargs, type(kwargs))

In [145]:
foo(100, 200, 300, 400, name="Suresh", age="32")

100 <class 'int'>
(200, 300, 400) <class 'tuple'>
{'name': 'Suresh', 'age': '32'} <class 'dict'>

In [146]:
foo(10, 20, 30)

10 <class 'int'>
(20, 30) <class 'tuple'>

In [148]:
foo(10, 20, 30, key1='value1')

10 <class 'int'>
(20, 30) <class 'tuple'>
{'key1': 'value1'} <class 'dict'>

In [149]:
def mean_cal(**kwargs):
    subject_list = []
    sum_score = 0
    for subject, score in kwargs.items():
        subject_list.append(subject)
        sum_score += score
    mean = sum_score / len(kwargs)
    print("The mean of subjects", mean)

In [150]:
mean = mean_cal(
    math = 100,
    english = 90,
    history = 80, 
    cs = 100
)

The mean of subjects 92.5

In [151]:
foo()

TypeError: foo() missing 1 required positional argument: 'required'

In [152]:
def foo():
    print("this is function foo")

def main():
    print("this is the main function")
    foo()
    
if __name__ == '__main__':
    main()

this is the main function
this is function foo

In [153]:
# __ references where you are starting your program

In [154]:
def foo2():
    print("foo2")

In [155]:
foo2()

foo2